*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  background-color: #fbb832;
  height: 50px;
}
.align-center{
  align-items: center;
}
.flex{
  display: flex;
}
.container{
  max-width: 1400px;
  margin: auto;
  height: 100%;
}
.justify-content-b{
  justify-content: space-between;
}

.container__characters{
  max-width: 1400px;
  margin: auto;
  display: flex;
}


.characters{
  margin-top: 50px;

  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.character{
  width: 300px;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.character__container{
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.character__details{
  padding: 10px 10px;
}

.character__details > h3{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.character__details > p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}